@import "bootstrap/dist/css/bootstrap.min.css";
@import "font-awesome/css/font-awesome.min.css";
@import "remixicon/fonts/remixicon.css";

.input-group {
    margin: 30px 0;
}

.form-control {
    padding: 16px 16px;
    border-radius: 0;
}

.btn {
    padding: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 0;
}

.btn-primary {
    color: #fff;
    font-weight: bold;
    background: #6A40DB;
    border: 2px solid #6A40DB;
}

.btn-primary:hover {
    color: #6A40DB;
    background: #fff;
    border: 2px solid #6A40DB;
}

.btn-social {
    width: 100%;
    background: #fff;
    color: #6A40DB;
    border: 1px solid #6A40DB;
}

.btn-social:hover {
    width: 100%;
    background: #fff;
    color: #000;
    border: 1px solid #000;
}

h5 {
    color: rgba(200, 200, 200, 1);
    font-size: 1.1rem;
    font-weight: normal;
}

.text-bold {
    font-weight: bold;
}

.btn-filter {
    margin: 8px;
    color: #19202E;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 12px;
    border: 1px solid #19202E;
    background: #fff;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
}

.btn-filter:hover {
    margin: 8px;
    color: #fff;
    background: #19202E;
    border: 1px solid #19202E;
}

.btn-filter.inverter {
    margin: 8px;
    color: #fff;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 12px;
    border: 1px solid #19202E;
    background: #19202E;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
}

.btn-filter.inverter:hover {
    margin: 8px;
    color: #19202E;
    background: #fff;
    border: 1px solid #19202E;
}

.btn-filter span {
    color: #909DAE;
}

.text-right {
    text-align: right;
}
