.form-control {
    padding: 10px 16px;
    margin: 10px;
    border-radius: 2px;
}

h3 {
    text-transform: uppercase;
    font-family: "PT Sans", sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

p {
    font-size: 1.2rem;
}

.btn {
    padding: 8px 12px;
    border: 1px solid #000;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: bold;
}

.btn-big {
    padding: 16px 14px;
}

.btn-default {
}
