@import '_base.css';

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #F8F8F8;
}

#app {
    display: flex;
}

#app-sidebar {
    padding: 0;
    margin: 0;
    width: 4vw;
    height: 100vh;
    background: #8BC185;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
    z-index: 1;
}

#app-main {
    width: 96vw;
    background: rgba(240,240,240,1);
}

#app-sidebar-header-brand {
    padding: 22px 22px;
    text-align: center;
}

#app-sidebar-header-brand a {
    color: #fff;
    font-weight: bold;
    font-family: "PT Sans", sans-serif;
    text-decoration: none;
}


#app-sidebar-navigation {
    position: relative;
    width: 100%;
    height: 50vh;
}

#app-sidebar-navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    list-style: none;
}

#app-sidebar-navigation .navigation-item {
    position: relative;
    right: 32px;
    width: 77px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    background: transparent;
    transition: background 0.3s ease;
}

#app-sidebar-navigation .navigation-item:hover,
#app-sidebar-navigation .navigation-item.active {
    cursor: pointer;
    background: #fff;
    transition: background 0.3s ease;
}

#app-sidebar-navigation .navigation-item:hover a,
#app-sidebar-navigation .navigation-item.active a {
    color: #8BC185;
    transition: color 0.3s ease;
}

#app-sidebar-navigation .navigation-item a {
    color: #fff;
    padding: 32px;
    width: 100%;
    display: block;
    text-decoration: none;
}

#app-sidebar-navigation .navigation-item a i {
    font-size: 22px;
}

#main-content {
    padding: 0;
    margin: 0;
}

#app-header {
    padding: 8px 22px;
    margin: 0;
    height: 60px;
    background: transparent;
}

#app-header-search {
    position: relative;
}

#app-header input[type="text"] {
    margin-top: 15px;
    width: 100%;
    height: 100%;
    padding: 0 22px;
    border-radius: 12px;
    background: #ddd;
    font-size: 16px;
    color: #333;
    border: 0;
}

#app-header button#btn-search-submit {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
    padding: 0;
    border: 0;
    background: transparent;
    cursor: pointer;
}
#app-header button#btn-search-submit i {
    font-size: 22px;
    color: #333;
}

#app-header button#btn-theme {
    position: relative;
    top: 15px;
    right: 0;
    width: 50px;
    height: 50px;
    padding: 0;
    border: 0;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 6px rgba(0,0,0,.25); ;
}
