@import '_base.css';

.nav-link,
.nav-link.active,
.nav-link:hover {
    color: #fff;
    text-transform: uppercase;
    font-size: .95rem;
    letter-spacing: 1px;
    font-family: "Roboto", sans-serif;
}

#app-header {
    color: rgb(28, 29, 86);;
    height: 350px;
    /*background: rgb(28, 29, 86);*/
    background: #d8e4fb;
    background-size: 100% auto;
}

#app-navigation {

}

#app-navigation ul {
    list-style: none;
    border-bottom: 1px solid rgba(28, 29, 86, 0.5);
}

#app-navigation ul li {
    padding: 14px 22px;
    position: relative;
    display: inline-block;
    font-size: .95rem;
    border-bottom: 2px solid transparent;
    font-family: "Roboto", sans-serif;
}

#app-navigation ul li:hover,
#app-navigation ul li.active {
    cursor: pointer;
    color: rgb(28, 29, 86);;
    border-bottom: 2px solid rgb(28, 29, 86);;
}

#app-navigation ul li.active {
    font-weight: bold;
}

#app-navigation ul li a {
    color: rgb(28, 29, 86);;
    text-decoration: none;
}

.app-navigation-square {
    padding: 8px 16px;
    margin: 8px 10px;
    height: 250px;
    background: red;
    border-radius: 4px;
    box-shadow: 0 0 6px #333;
}


.app-navigation-double-square {
    height: 250px;
}

.app-navigation-landscape {
    padding: 8px 16px;
    margin: 6px 10px;
    height: 120px;
    background: orange;
    border-radius: 4px;
    box-shadow: 0 0 6px #333;
}

.app-navigation-square small,
.app-navigation-landscape small {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.75rem;
}

.app-navigation-square:first-child {
    color: #888;
    background: #fff;
}

.app-navigation-square:nth-child(2) {
    color: #333333;
    background: #93d3fd;
}

.app-navigation-section-title {
    font-weight: bold;
    color: #5231a0;
    font-size: 0.75rem;
    line-height: 20px;
}

#app-main {
    position: relative;
    top: 18vh;
    min-height: 50vh;
}

#its-app-users-table {
    border: 0;
    border-radius: 8px;
}

#its-app-users-table thead {
    font-size: 14px;
}

#its-app-users-table thead th {
    padding: 2px 16px;
    color: #909DAE;
    background: #F0F5F9;
    font-family: "Roboto", sans-serif;
    vertical-align: middle;
    border: 0;
    font-weight: normal;
}

#its-app-users-table thead th:first-child {
    border-top-left-radius: 12px;
}

#its-app-users-table thead th:last-child {
    border-top-right-radius: 12px;
}

#its-app-users-table tbody td {
    padding: 2px 16px;
    vertical-align: middle;
    border: 0;
    font-family: "PT Sans", sans-serif;
    background: #fff;
}

#its-app-users-table tbody td img {
    margin-right: 15px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

#its-app-users-table thead th input[type="checkbox"],
#its-app-users-table tbody td input[type="checkbox"] {
    margin-top: 5px;
    width: 16px;
    height: 16px;
    border-radius: 16px !important;
    border: 0;
}


#its-app-users-table tbody td small {
    color: #bbb;
    font-weight: normal;
}
